{% extends "layout.html" %}
{% block title %}Awards{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <img src="/static/awards/BirdRoadsCup.jpg" class="centering" height="200pt"></img>
    </div>
    <div class="col-xs-4">
      <h1>Bird Roads Cup</h1>
      <p>Pokalen som betyder allt. Den går till vinnaren av den prestigefyllda cupen med samma namn.</p>
    </div>
    <div class="col-xs-3">
      <h2>Historik:</h2>
      <h5>2018: Filip Backman (TBL)</h5>
      <h5>2017: Filip Backman (STL)</h5>
    </div>
    <div class="col-xs-3">
      <img src="/static/awards/Backman.jpg" class="centering" width="100%"></img>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-2">
      <img src="/static/awards/ConnSmirkTrophy.jpg" class="centering" height="160pt"></img>
    </div>
    <div class="col-xs-4">
      <h1>Conn Smirk Trophy</h1>
      <p>Delas ut till den spelare som anses betytt mest för lagets framgång i turneringen. Det här priset röstas fram av alla medverkande i cupen.</p>
    </div>
    <div class="col-xs-3">
      <h2>Historik:</h2>
      <h5>2018: TBD (TBD)</h5>
      <h5>2017: Vladimir Tarasenko (STL)</h5>
    </div>
    <div class="col-xs-3">
      <img src="/static/awards/Tarasenko.jpg" class="centering" width="100%"></img>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <img src="/static/awards/SteveIcermanTrophy.jpg" class="centering" height="140pt"></img>
    </div>
    <div class="col-xs-4">
      <h1>Steve Icerman Trophy</h1>
      <p>Delas ut till den spelare som har bäst +/- statistik i turneringen. Även känd som den avigaste trofén.</p>
    </div>
    <div class="col-xs-3">
      <h2>Historik:</h2>
      <h5>2018: Alexander Kerfoot (COL)</h5>
      <h5>2017: Karl Alzner (WSH)</h5>
    </div>
    <div class="col-xs-3">
      <img src="/static/awards/Alzner.jpg" class="centering" width="100%"></img>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-2">
      <img src="/static/awards/DominikHasekAward.jpg" class="centering" height="120pt"></img>
    </div>
    <div class="col-xs-4">
      <h1>Dominik Hasek Award</h1>
      <p>Delas ut till den målvakt som anses betytt mest för lagets framgång i turneringen. Det här priset röstas fram av alla medverkande i cupen.</p>
    </div>
    <div class="col-xs-3">
      <h2>Historik:</h2>
      <h5>2018: TBD (TBD)</h5>
      <h5>2017: Braden Holtby (WSH)</h5>
    </div>
    <div class="col-xs-3">
      <img src="/static/awards/Holtby.jpg" class="centering" width="100%"></img>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4"><h1>The Team of Dreams</h1></div>
    <div class="col-xs-6"></div>
  </div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
      <div class="row">
	<div class="col-xs-4"><img src="/static/awards/dreamteam/Cogliano.jpg" class="centering" width="100%"></img></div>
	<div class="col-xs-4"><img src="/static/awards/dreamteam/Stastny.jpg" class="centering" width="100%"></img></div>
	<div class="col-xs-4"><img src="/static/awards/dreamteam/Tarasenko.jpg" class="centering" width="100%"></img></div>
      </div>
      <div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-4"><img src="/static/awards/dreamteam/Shattenkirk.jpg" class="centering" width="100%"></img></div>
	<div class="col-xs-4"><img src="/static/awards/dreamteam/Vatanen.jpg" class="centering" width="100%"></img></div>
	<div class="col-xs-2"></div>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
      <h1>Honorable Mentions:</h1>
      <h3>Rookie of the Year: Jesse Puljujarvi (EDM)</h3>
      <h3>Surprise of the Year: Steve Ott (MTL)</h3>
      <h3>Trashcan of the Year: Dan Girardi (NYR)</h3>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
{% endblock %}
