{% extends "layout.html" %}
{% block title %}Match: {{info[1]}}-{{info[2]}}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <img class="centering" src="/static/teams/{{info[1]}}/{{info[1]}}logo.png" width="100%"></img>
     <a href="/teams/{{info[1]}}"><p class="finalscore">{{info[1]}}</p></a>
    </div>
    <div class="col-xs-4">
      <p class="score">Game Details:</p>
      {{body|safe}}
    </div>
    <div class="col-xs-4">
      <img class="centering" src="/static/teams/{{info[2]}}/{{info[2]}}logo.png" width="100%"></img>
      <a href="/teams/{{info[2]}}"><p class="finalscore">{{info[2]}}</p></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <p class="score">Match Series Stats:</p>
  </div>
  {{table | safe}}
  {{goalietable | safe }}
</div>

<script>
  function openInParent(url) {
    window.opener.location.href = url;
    window.close();
  }
</script>
{% endblock %}
