{% extends "layout.html" %}
{% block title %}{{name}}{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <img src="/static/teams/{{info.team[0]}}/{{info.team[0]}}logo.png" width="100%" class="centering"></img>
    </div>
    <div class="col-xs-4">
      <p class="centeredtext">
	<h1><a href="/teams/{{info.team[0]}}">{{info.team[0]}}</a>-<a href="/teams/{{info.team[1]}}">{{info.team[1]}}</a></h1>
	<h3>{{info.score}}<h3>
      </p>
    </div>
    <div class="col-xs-4">
      <img src="/static/teams/{{info.team[1]}}/{{info.team[1]}}logo.png" width="100%" class="centering"></img>
    </div>
  </div>
  <div class="row">
    <p class="score">Game Stats</p>
  </div>
  <div class="row">
    <img src="/static/games/{{info.matchid[0]}}/{{info.matchid[1]}}/{{info.game}}/stats.jpg" width="700pt" class="centering"></img>
  </div>
  <div class="row">
    <p class="score">Three Stars</p>
  </div>
  <div class="row">
    <img src="/static/games/{{info.matchid[0]}}/{{info.matchid[1]}}/{{info.game}}/3stars.jpg" width="700pt" class="centering"></img>
  </div>
  <div class="row">
    <p class="score">Events</p>
  </div>
  <div class="row">
    <img src="/static/games/{{info.matchid[0]}}/{{info.matchid[1]}}/{{info.game}}/events.jpg" width="700pt" class="centering"></img>
    {{events2 | safe}}
  </div>

<!--
    <div class="col-xs-4">
      <h2>Game Stats</h2>
    </div>
    <div class="col-xs-4">
      <h2>Three Stars</h2>
    </div>
    <div class="col-xs-4">
      <h2>Goals</h2>
    </div>
  </div>
    
  <div class="row">
    <div class="col-xs-4">
      <img src="/static/games/{{info.matchid[0]}}/{{info.matchid[1]}}/{{info.game}}/stats.jpg" width="90%" class="centering"></img>
    </div>
    <div class="col-xs-4">
      <img src="/static/games/{{info.matchid[0]}}/{{info.matchid[1]}}/{{info.game}}/3stars.jpg" width="90%" class="centering"></img>
    </div>
    <div class="col-xs-4">
      <img src="/static/games/{{info.matchid[0]}}/{{info.matchid[1]}}/{{info.game}}/events.jpg" width="90%" class="centering"></img>
    </div>

  </div>
-->
</div>
{% endblock %}
<!-- Unika koden for teams slutet-->
