{% extends "layout.html" %}
{% block title %}Bird Roads Cup{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <div class="container">
    <div class"row">
      <div class="col-xs-8">
	<h1>Hello and välkommen to Bird Roads Cup!</h1>
	<p>Klicka på saker. Funkar det inte? Då är det säkert under bygge, så klicka på något annat.</p>
      </div>
      <div class="col-xs-4">
	<img src="/static/awards/AllAwards_1.jpg" width="100%"></img>
      </div>
    </div>
  </div>
{% endblock %}
