{% extends "layout.html" %}
{% block title %}Calendar{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<div class="container">
  <h1>Day 1</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>TV 1</h3>
      <div class="row">
	<div class="col-md-3">
	  19.00-21.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/R1-G3/">ANA-CGY</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  21.00-23.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/R1-G5/">MTL-NYR</a>
	</div>
      </div>
    </div>
  </div>
  <h1>Day 2</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>TV 1</h3>
      <div class="row">
	<div class="col-md-3">
	  19.00-21.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/R1-G6/">OTT-BOS</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  21.00-23.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/R1-G1/">CHI-NAS</a>
	</div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>TV 2</h3>
      <div class="row">
	<div class="col-md-3">
	  19.00-21.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/R1-G4/">EDM-SJS</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  21.00-23.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/R1-G2/">MIN-STL</a>
	</div>
      </div>
    </div>
  </div>
  <h1>Day 3</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>TV 1</h3>
      <div class="row">
	<div class="col-md-3">
	  19.00-21.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/R1-G7/">WSH-TOR</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  21.00-23.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/DF-G3/">MTL-OTT</a>
	</div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>TV 2</h3>
      <div class="row">
	<div class="col-md-3">
	  19.00-21.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/R1-G8/">PIT-CBJ</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  21.00-23.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/DF-G4/">WSH-PIT</a>
	</div>
      </div>
    </div>
  </div>
  <h1>Day 4</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>TV 1</h3>
      <div class="row">
	<div class="col-md-3">
	  13.00-15.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/DF-G1/">CHI-STL</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  15.00-17.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/DF-G2/">ANA-EDM</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  17.00-19.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/CF-G2/">WSH-OTT</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  19.00-21.00:
	</div>
	<div class="col-md-6">
	  <a href="/games/CF-G1/">ANA-STL</a>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
